<a href="https://colab.research.google.com/github/RebeccaRoberts/coding-vibes/blob/main/Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello")

hello

In [2]:
name = "Teja"

In [4]:
print("hello, " + name)

hello, Teja

Data types:
1. string: "blabla"
2. int: 1, 2, 3000 (integers)
3. float: 1.234
4. list: [ 1, 2, 4] (list of ints)
5. dict: my_dictionary["key"] = "value"

In [5]:
my_string = "this is snake case: my_string, this is camel case: myStringIsCamely"
print(my_string)

this is snake case: my_string, this is camel case: myStringIsCamely

In [6]:
my_int_is_big = 83883838383
print(my_int_is_big)
print(type(my_int_is_big))

83883838383
<class 'int'>

In [11]:
my_float = 3.142
print(my_float)
print(type(my_float))

3.142
<class 'float'>

In [15]:
my_list = [1,2,3,4]
print(my_list)
print(type(my_list))
my_weird_list = [1,2,3,"cheeky"]
print(my_weird_list)
print(type(my_weird_list))

[1, 2, 3, 4]
<class 'list'>
[1, 2, 3, 'cheeky']
<class 'list'>

In [19]:
my_dictionary = {"cat":"katze", "dog": "hund"}
print(my_dictionary)
print(type(my_dictionary))
print(my_dictionary["cat"])
print(type(my_dictionary["cat"]))

{'cat': 'katze', 'dog': 'hund'}
<class 'dict'>
katze
<class 'str'>